body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #cadcfc;
    color: black;
}
div{
    margin-left: 140px;
}

.App {
    text-align: center;
}

h1 {
    color: seagreen;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: darkgoldenrod;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #00246b;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: seagreen;
    color: #cadcfc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkmagenta;
    color: #00246b;
}